@import "tailwindcss";

@theme {
  --text-4xs: 0.1875rem; /* 3px */
  --text-4xs--letter-spacing: 0.42px;
  --text-4xs--line-height: 4px;

  --text-3xs: 0.3125rem; /* 5px */
  --text-3xs--letter-spacing: 0.7px;
  --text-3xs--line-height: 6px;

  --text-2xs: 0.375rem; /* 6px */
  --text-2xs--letter-spacing: 0.84px;
  --text-2xs--line-height: 7px;

  --text-xs: 0.4375rem; /* 7px */
  --text-xs--letter-spacing: 0.98px;
  --text-xs--line-height: 9px;

  --text-sm: 0.625rem; /* 10px */
  --text-sm--letter-spacing: 1.4px;
  --text-sm--line-height: 12px;

  --text-base: 0.6875rem; /* 11px */
  --text-base--letter-spacing: 1.54px;
  --text-base--line-height: 13px;

  --text-md: 0.875rem; /* 14px */
  --text-md--letter-spacing: 1.96px;
  --text-md--line-height: 17px;

  --text-lg: 1rem; /* 16px */
  --text-lg--letter-spacing: 2.24px;
  --text-lg--line-height: 19px;

  --text-xl: 1.25rem; /* 20px */
  --text-xl--letter-spacing: 2.8px;
  --text-xl--line-height: 24px;

  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--letter-spacing: 3.36px;
  --text-2xl--line-height: 29px;

  --text-3xl: 2.5rem; /* 40px */
  --text-3xl--letter-spacing: 5.6px;
  --text-3xl--line-height: 49px;
}

@theme inline {
  --font-primary: var(--font-helvetica-neue), var(--font-serif);
}

* {
  text-transform: uppercase;
}
